

body{
  z-index:10;
  background-image: url("../img/PARALLAX/layer_01.png");
  background-repeat:no-repeat; /* Indicamos que no se repetira */
  background-size:cover; /* Encajamos la imagen al 100% del ancho */
  background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
  background-repeat:repeat-x;
 }

.nubes{
position:absolute;
z-index:11;
background:transparent url("../img/PARALLAX/layer_02.png") 100% ;
margin:0;
padding:0;
width:100%;
height:100%;
animation: ARBOL-GAME 124s steps(8, end) infinite;
}

.montanias{
position:absolute;
z-index:12;
background:transparent url("../img/PARALLAX/layer_03.png") 100% ;
margin:0;
padding:0;
width:100%;
height:100%;
/*animation: ARBOL-GAME 44s steps(8, end) infinite;*/
}

.arboles{
   position:absolute;
   z-index:13;
   background:transparent url("../img/PARALLAX/layer_04.png") 100% ;
   margin:0;
   padding:0;
   width:100%;
   height:100%;
   /*animation: ARBOL-GAME 19s steps(8, end) infinite;*/
}

.piso{
   position:absolute;
   z-index:14;
   background:transparent url("../img/PARALLAX/layer_05.png") 100%;
   margin:0;
   padding:0;
   width:100%;
   height:100%;
   /*animation: PISO-GAME .8s steps(8, end) infinite;*/
}

nav a{
   font-size: 22px;
   color: #FFFFFF;
   font-family: 'Russo One', sans-serif;
   line-height: 30px;
}

#vidas{}

footer{
   margin-top: 20px;
   text-align: center;
   font-family: 'Russo One', sans-serif;
   font-size: 14px;
   color: #a3c2c2;
}
