body{
  z-index:10;
  background-image: url("../img/PARALLAX/layer_01.png");
  background-repeat:no-repeat; /* Indicamos que no se repetira */
  background-size:cover; /* Encajamos la imagen al 100% del ancho */
  background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
  background-repeat:repeat-x;
  overflow: hidden;
  animation: BACKGROUND-GAME 124s infinite;
}
header{
  width: 100%;
  height: 20px;
  position: absolute;
}
main{
    width: 100%;
    height: 562px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: auto;
}
footer{
  position: absolute;
  top: 583px;
  left: 0px;
  width: 100%;
  height: 20px
}

.nubes{
  position:absolute;
  z-index:11;
  background:transparent url("../img/PARALLAX/layer_02.png") 100% ;
  margin:0;
  padding:0;
  width:100%;
  height:703px;
  animation: BACKGROUND-GAME linear 124s infinite;
  animation-play-state: paused;
}

.montanias{
    position:absolute;
    z-index:12;
    background:transparent url("../img/PARALLAX/layer_03.png") 100% ;
    margin:0;
    padding:0;
    width:100%;
    height:703px;
    animation: BACKGROUND-GAME linear 44s infinite;
    animation-play-state: paused;
}

.arboles{
   position:absolute;
   z-index:13;
   background:transparent url("../img/PARALLAX/layer_04.png") 100% ;
   margin:0;
   padding:0;
   width:100%;
   height:703px;
   animation: BACKGROUND-GAME linear 19s  infinite;
   animation-play-state: paused;
}

.piso{
   position:absolute;
   z-index:14;
   background:transparent url("../img/PARALLAX/layer_05.png") 100%;
   margin:0;
   padding:0;
   width:100%;
   height:703px;
   animation: BACKGROUND-GAME linear 4s  infinite;
   animation-play-state: paused;
}

nav a{
   font-size: 22px;
   color: #FFFFFF;
   font-family: 'Russo One', sans-serif;
   line-height: 30px;
}

#vidas{}

footer{
   margin-top: 20px;
   text-align: center;
   font-family: 'Russo One', sans-serif;
   font-size: 14px;
   color: #a3c2c2;
}
