@keyframes RUNNER-WAIT {
   from {background-position: 0px;}
   to {background-position: -854px;}
}
@keyframes RUNNER-WALK {
   from {background-position: 0px;}
   to {background-position: -998px;}
}
@keyframes RUNNER-JUMPING {
   from {background-position: 0px;}
   to {background-position: -1034px;}
}
@keyframes RUNNER-DOWN {
   from {background-position: 0px;}
   to {background-position: -1417px;}
}
@keyframes RUNNER-DIE {
   from {background-position: 0px;}
   to {background-position: -1992px;}
}


@keyframes ENEMY {
   from {background-position: 60px;}
   to {background-position: -2370px;}
}

@keyframes COIN {
   from {background-position: 60px;}
   to {background-position: -2370px;}
}

@keyframes BACKGROUND-GAME {
   from {background-position: 0px;}
   to {background-position: -1269px;}
}
