@keyframes RUNNER-WAIT {
   from {background-position: 0px;}
   to {background-position: -854px;}
}
@keyframes RUNNER-WALK {
   from {background-position: 0px;}
   to {background-position: -998px;}
}
@keyframes RUNNER-JUMP {
   from {background-position: 0px; }
   to {background-position: -1034px;}
   0%,100% {transform: translateY(0);}
   50% {transform: translateY(-55px);}
}
@keyframes RUNNER-DOWN {
   from {background-position: 0px;}
   to {background-position: -1417px;}
}
@keyframes RUNNER-DIE {
   from {background-position: 0px;}
   to {background-position: -1992px;}
}

@keyframes ENEMY {
   from {background-position: 0px;}
   to {background-position: -400px;}
}

@keyframes BACKGROUND-GAME {
   from {background-position: 1250px;}
   to {background-position: 0px;}
}
