@keyframes RUNNER-WAIT {
   from {background-position: 0px;}
   to {background-position: -390px;}
}
@keyframes RUNNER-WALK {
   from {background-position: 0px;}
   to {background-position: -344px;}
}
@keyframes RUNNER-JUMP {
   from {background-position: 0px; }
   to {background-position: -474px;}
   0%,100% {transform: translateY(0);}
   50% {transform: translateY(-50px);}
}
@keyframes RUNNER-DOWN {
   from {background-position: 0px;}
   to {background-position: -1417px;}
}
@keyframes RUNNER-DIE {
   from {background-position: 0px;}
   to {background-position: -837px;}
}

@keyframes ENEMY {
   from {background-position: 0px;}
   to {background-position: -400px;}
}

@keyframes BACKGROUND-GAME {
   from {background-position: 1250px;}
   to {background-position: 0px;}
}
