#runner {
   border: 1px solid;
   position: absolute;
   left: 100px;
   top: 250px;
   height: 240px;
   width: 110px;
}
.runner-jump{
  background-image: url("../img/saltar.png");
  animation: RUNNER-JUMP .8s steps(8, end);
}
.runner-stop{
  background-image: url("../img/esperando.png");
  animation: RUNNER-WAIT .8s steps(8, end) infinite;
}
.runner-right{
  background-image: url("../img/correr.png");
   animation: RUNNER-WALK .8s steps(8, end) infinite;
}
.runner-die{
  background-image: url("../img/morir.png");
  animation: RUNNER-DIE .8s steps(9, end) infinite;
}
